.navigation_Container {
    display: flex;
    margin-right: 20px;
    margin-top: 15px;
    position: absolute;
    right: 0;

}
.navigation_element{
    align-self: center;

}
.navigation_element:hover {


}

.header_navigation_link{
    font-size:20px;
    font-variant:small-caps;
    font-weight: 600;
    margin-left: 25px;
    text-shadow: #535151;
    color: #eb4a25;
    text-align: right;
    cursor: pointer;

}
.header_navigation_link:hover {
    /*background-color: #3a3a3a;*/
    /*border-radius: 8px;*/
    font-weight: 600;
    color:  #a53513;
    text-decoration: #cfcec4;

}
